################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EventCatalogAPI/bin/Debug/netcoreapp2.1
/WebMvc/bin/Debug/netcoreapp2.1
/EventCatalogAPI/obj
/WebMvc/obj
